$border-color: #acacac;
$div-width: 420px;
$div-height: 100px;
$div-bg-color: #11ff88;

div {
    border: solid 1px $border-color;
    width: $div-width;
    height: $div-height;
    background-color: $div-bg-color;
}